[submodule "deps/reef"]
	path = deps/reef
	url = git@codea:reef.git
[submodule "deps/minimp3"]
	path = deps/minimp3
	url = git@codea:minimp3
[submodule "deps/dr_libs"]
	path = deps/dr_libs
	url = git@codea:dr_libs.git
